// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
// 
//   http://www.apache.org/licenses/LICENSE-2.0
// 
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.


@import "navbar";
@import "hero";
@import "footer";
@import "panels";
@import "footer";
@import "toc";
@import "github";

a {
    color: var(--color-link);

    &:visited {
        color: var(--color-visited-link);
    }

    &:hover {
        color: var(--color-hover-link);
        text-decoration: underline;

        &:visited {
            color: var(--color-hover-visited-link);
        }
    }

    i {
        margin-left: 5px;
    }
}

hr {
    border-color: var(--gray-500);
}

.separator {
    border: 1px solid var(--body-background-alt);
}

.truncate {
    overflow: hidden;
    max-width: 75ch;
    text-overflow: ellipsis;
}

.markdown {
//    pre {
//        padding: 20px;
//        background-color: var(--code-block-background-color);
//        color: var(--code-block-text-color);
//    }

//    code {
//        background-color: var(--code-inline-block-background-color);
//        color: var(--code-inline-block-text-color);
//    }
}
